h3 Hello #{firstName} #{lastName},
p You, or someone else, requested an new password for this account on Aso-Ebi
p You can reset your password using this link. When you do nothing, your password or account will not change.

a(href=verificationUrl) 
   | #{verificationUrl}
