html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      @import url('https://fonts.googleapis.com/css?family=Advent+Pro|Manjari&display=swap');
      body {
      margin: 0;
      font-family: 'Manjari', sans-serif !important;
      }
      .main-box {
      background: linear-gradient(#c4752d, #de8f43);
      height: 100%;
      min-height: 50vh;
      text-align: center;
      padding: 30px;
      }
      .inner-box {
      background-color: #ffffff;
      width: 500px;
      border-radius: 10px;
      text-align: center;
      padding: 20px 40px;
      margin: 0px auto;
      color: #c4752d;
      font-weight: bold;
      margin-top: 20px;
      }
      .inner-box h2 {
      font-size: 20px;
      margin: 0px;
      color: #ffab5a;
      font-weight: bold;
      font-family: 'Manjari', sans-serif !important;
      margin-top: 10px;
      }
      .guest-profile {
      height: 100px;
      width: 100px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid #111214;
      margin: auto;
      }
      .guest-profile img {
      max-width: 100%;
      min-width: 100%;
      max-height: 100%;
      min-height: 100%;
      object-fit: cover;
      }
      @media(max-width:575px) {
      .inner-box {
      width: 250px;
      padding: 10px;
      }
      .email-img img {
      height: 40px;
      }
      .inner-box p {
      font-size: 16px;
      font-weight: unset;
      }
      .inner-box h2 {
      line-height: 26px;
      font-size: 16px;
      }
      .guest-profile {
      height: 60px;
      width: 60px;
      }
      }
  body
    .main-box
      .email-img
        img(src='https://test.andcowith.me/assets/images/andco_logo.png', alt='andco-log')
      .inner-box
        .guest-profile
          img(src= profile, alt='profile photo')
        h2 #{eventTitle}
        h2 # #{hashTag}
        p
          | #{reminder}
