h3 Hello #{firstName} #{lastName},
p We received a request to set your Aso-Ebi email to #{ email }
p If this is correct, please enter below verification code for verification.
p Verification code:#{emailVarification}
